/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
}

fieldset {
  margin-bottom: 8px;
}

.delay-form {
  width: 272px;
}

.form {
  width: 400px;
  border: 2px solid #808080;
  padding: 20px;
}

.nav {
  color: rgba(97, 93, 97, 0.973);
  border-radius: 5px;
  padding: 4px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: rgba(227, 222, 227, 0.826);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.back-btn {
  color: rgba(97, 93, 97, 0.973);
  border-radius: 5px;
  padding: 4px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: rgba(227, 222, 227, 0.826);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.value {
  color: #2e2f42;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: 1.6px;
}

.timer {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.label {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  padding: 8px 43px;
}

.wrap {
  margin-bottom: 32px;
}

.start-btn {
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  width: 75px;
  padding: 5px;
}

.start-btn:disabled {
  background: #cfcfcf;
}

.start-btn:active {
  background: #6c8cff;
}

.radio-btn {
  color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
}

.input {
  padding: 4px 5px;
}